b:hover{ /*Pasa el mouse se convierte en el color hover*/
	color: red; 
}
.titulo-h2{/*Clases*/
	color: blue;
	
}
/*p{ Esto es la sombra del texto
	text-shadow: 2px 2px 7px #000;
	rotaciones del texto
	transform: rotate(45deg);
}*/
#element{/*id*/
	color: green;
	font-size: 2em;
}
.contact-form{ /*Modelo de BEM*/
	font-size: 20px;
	font-family: Georgia;
	line-height: 1;
	font-weight: 100;
}
.contact-form__input--active{
	color: grey;
	font-size: 2em;
}
.contact-form__input{
	color: brown;
	font-size: 2em;
}
h2{/*Esto es para que los elementos de caja se conviertan a en linea*/
	display: inline;
	background-color: red;
	margin: 10px;
	/*border: 10px outset blue;Modificar los bordes*/
	/*border-radius:50%;Esto es para los bordes y para que podamos redondear los bordes*/
	/*padding-top: ;Asi como es top, puede ser bottom left y right*/
	/*pading:1px 2px 3px 4px ;Se le asigna de acuerdo a las manecillas del reloj */
	/*box-shadow: 10px 4px 10px 0 #000;*/
}
h3{
	display: inline;
	background-color: red;
}
